<p id="notice"><%= notice %></p>






    <% @blogposts.each do |blogpost| %>
      <div class="card own-card-style" style="width: 300px"; style="height: 800px" >
        <%= image_tag(blogpost.image, :alt => "Blogpost image", :class => "card-img-top", :style => "height: 180px") %>
        <div class="card-body">
          <h5 class="card-title own-title"> <%=blogpost.title%> </h5>
          <p class="card-text own-text"> <%=blogpost.content[0..30]%> </p>
          <%= link_to 'Read more', blogpost, class: "btn btn-default own-button" %>
        </div>
      </div>

    <% end %>
